TestResults/
packages/
.vs/
*.suo
src/RSLoad/bin/
src/RSLoad/obj/
src/RSAccessor/obj/
src/RSAccessor/bin/
src/RSLoad/RSTest.Common.ReportServer.dll.Config
ArmTemplate/SSRS-MultiMachine/azuredeploy.parameters.json
*.trx
