<!--
<Configuration>
  <ReportServerUrl>http://ssrs.westus2.cloudapp.azure.com/ReportServer</ReportServerUrl>
  <ReportPortalUrl>http://ssrs.westus2.cloudapp.azure.com/Reports</ReportPortalUrl>
  <PowerBIUrl>http://ssrs.westus2.cloudapp.azure.com/powerbi/api/explore/reports</PowerBIUrl>
  <DatasourceDatabaseServer>ssrs-datasource</DatasourceDatabaseServer>
  <ExecutionAccount>contoso\ProvideAUser</ExecutionAccount>
  <ExecutionAccountPwd>ProvideAPassword</ExecutionAccountPwd>
  <DatasourceSQLUser>ProvideASQLUser</DatasourceSQLUser>
  <DatasourceSQLPassword>ProvideASQLPassword</DatasourceSQLPassword>
</Configuration>

-->

<Configuration>
  <ReportServerUrl>http://localhost/ReportServer</ReportServerUrl>
  <ReportPortalUrl>http://localhost/Reports</ReportPortalUrl>
  <DatasourceDatabaseServer>ssrs-datasource</DatasourceDatabaseServer>
  <DatasourceSQLUser>ProvideASQLUser</DatasourceSQLUser>
  <DatasourceSQLPassword>ProvideASQLPassword</DatasourceSQLPassword>
</Configuration>


