<!--
<Configuration>
  <ReportServerUrl>http://ssrs.westus2.cloudapp.azure.com/ReportServer</ReportServerUrl>
  <ReportPortalUrl>http://ssrs.westus2.cloudapp.azure.com/Reports</ReportPortalUrl>
  <PowerBIUrl>http://ssrs.westus2.cloudapp.azure.com/powerbi/api/explore/reports</PowerBIUrl>
  <DatasourceDatabaseServer>ssrs-datasource</DatasourceDatabaseServer>
  <ExecutionAccount>contoso\ProvideAUser</ExecutionAccount>
  <ExecutionAccountPwd>ProvideAPassword</ExecutionAccountPwd>
  <DatasourceSQLUser>ProvideASQLUser</DatasourceSQLUser>
  <DatasourceSQLPassword>ProvideASQLPassword</DatasourceSQLPassword>
  <ASWindowsUser>contoso\ProvideAUser</ASWindowsUser>
  <ASWindowsPassword>ProvideAPassword</ASWindowsPassword>
</Configuration>

-->

<Configuration>
  <ReportServerUrl>http://localhost/reportserver</ReportServerUrl>
  <ReportPortalUrl>http://localhost/reports</ReportPortalUrl>
  <PowerBIUrl>http://localhost/powerbi/api/explore/reports</PowerBIUrl>
  <DatasourceDatabaseServer>ssrs-datasource</DatasourceDatabaseServer>
  <ExecutionAccount>ProvideAUser</ExecutionAccount>
  <ExecutionAccountPwd>ProvideAPassword</ExecutionAccountPwd>
  <DatasourceSQLUser>ProvideASQLUser</DatasourceSQLUser>
  <DatasourceSQLPassword>ProvideASQLPassword</DatasourceSQLPassword>
  <ASWindowsUser>ProvideAUser</ASWindowsUser>
  <ASWindowsPassword>ProvideAPassword</ASWindowsPassword>
</Configuration>


